 .container {
      text-align: center;
      margin-bottom: 50px;
    }

    .container p {
      color: #6ea8fe;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 4px;
      margin-bottom: 10px;
    }

    .container h2 {
      font-size: 40px;
    }

    
    .marquee-container {
      overflow: hidden;
      width: 100%;
    }

    .marquee-track {
      display: flex;
      width: max-content;
      animation: spin 18s linear infinite;
    }

    .marquee-container:hover .marquee-track {
      animation-play-state: paused;
    }

    .group {
      display: flex;
      align-items: center;
      gap: 25px;
      padding-right: 25px;
    }

    
    .card {
      flex: 0 0 190px;
      height: 220px;
      padding: 25px;

      background: linear-gradient(
        145deg,
        #182848,
        #0f172a
      );

      border: 1px solid rgba(255, 255, 255, 0.12);
      border-radius: 20px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      text-align: center;

      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);

      transition: all 0.3s ease;
    }

    
    .icon {
      width: 80px;
      height: 80px;

      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;

      background: linear-gradient(
        135deg,
        #4facfe,
        #00f2fe
      );

      margin-bottom: 20px;

      box-shadow: 0 0 25px rgba(79, 172, 254, 0.4);

      transition: 0.3s ease;
    }

    .icon i {
      font-size: 35px;
      color: white;
    }

    
    .card h3 {
      font-size: 20px;
      margin-bottom: 8px;
    }

    
    .card p {
      font-size: 13px;
      color: #aab4c8;
      line-height: 1.5;
    }

    .card:hover {
      transform: translateY(-12px) scale(1.03);
      border-color: #4facfe;
      box-shadow: 0 15px 40px rgba(79, 172, 254, 0.25);
    }

    .card:hover .icon {
      transform: rotate(8deg) scale(1.1);
    }

    @keyframes spin {
      from {
        transform: translateX(0);
      }

      to {
        transform: translateX(-50%);
      }
    }

    @media (max-width: 600px) {

      .container h2 {
        font-size: 30px;
      }

      .card {
        flex: 0 0 160px;
        height: 200px;
      }

      .icon {
        width: 65px;
        height: 65px;
      }

      .icon i {
        font-size: 28px;
      }
    }